#Hero-body {
    margin-left: 30px;
}

#Home-right-small-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

/* Hero */
#Home-hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#Home-hero-title {
    margin-bottom: 30px;
    color: darkslategray;
    letter-spacing: 1px;
}

#Home-hero-subtitle {
    margin-bottom: 30px;
}

.Home-item {
    cursor: pointer;
}

.zoom {
    clip: shape;
    /* padding: 50px; */
    transition: transform 2.5s; /* Animation */
    /* width: 200px; */
    /* height: 200px; */
    /* margin: 0 auto; */
}
  
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
