.Cart {
    padding-top: 20px;
    min-height: 90vh;
    margin-left: 86px;

}

.Cart-title {
    margin-bottom: 20px;
    font-size: 20px;
}

#proceedToCheckoutBtn {
    display: block;
    margin: 0 auto;
    width: 220px;
}